.about-hero-row, .about-text-row {    
    margin: 30px 0;
    padding: 0 15px;
}

.about-hero-row .col {
    border-radius: 15px;
    box-shadow: 5px 5px rgba(0,0,0,0.1);
    overflow: hidden;
}

.about-quote-wrapper {
    margin-bottom: 30px;
}

.about-quote-wrapper h4 {
    font-size: 1.35em;
}

.about-quote-wrapper h5 {
    font-size: 1.1em;
}

.about-text-row p {
    font-size: 0.85em;
}

.about-hero-row .col, .about-text-row .col-12 {
    position: relative;  
    padding: 0;    
    max-width: 2140px;
}

.about-hero-row .overlay {
    flex-direction: column;
}

.about-hero-quote {
    margin-top: 30px;
}

.about-hero-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.about-hero-logo {
    object-fit: cover;
    height: 15%;
    width: 12%;
    min-height: 32px;
    min-width: 80px;
}

.heart-img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: 5px 5px rgba(0,0,0,0.1);
}