.about-hero-row, .about-text-row {    
    margin: 30px 0;
    padding: 0 15px;
}

.about-hero-row .col {
    border-radius: 15px;
    box-shadow: 5px 5px rgba(0,0,0,0.1);
    overflow: hidden;
}

.about-text-row p {
    font-size: 0.85em;
}

.about-hero-row .col, .about-text-row .col-12 {
    position: relative;  
    padding: 0;    
    max-width: 2140px;
}

.about-hero-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.about-hero-logo {
    object-fit: cover;
    height: 15%;
    width: 12%;
    min-height: 32px;
    min-width: 80px;
}

.heart-img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: 5px 5px rgba(0,0,0,0.1);
}

/*.welcome-quote-container {
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    padding: 0 0 20px 5px;
}


.welcome-quote {
    margin: 0;
    padding: 0;
    font-size: 1em;
}
*/