/*..........Body - CTA*/
.cta-row {
    margin: 15px 0;
}

.cta-row-top {
    margin-bottom: 0;
}

.cta-row-bottom {
    margin-top: 0;
}

.cta-container {
    margin: 15px 0;
    padding: 0 5px;
}

.cta-text-wrapper {
    width: 100%;
    min-width: 265px;
    max-width: 1500px;
}

.cta-text-wrapper h4 {
        font-size: 1.2em;
}

.cta-text-wrapper p, .cta-text-wrapper a i {
    font-size: 0.85em;
}

.cta-btn {
    width: 250px;
}

.cta-image-width {
    width: 510px;
}

.cta-image {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 66%;
    min-height: 160px;
    min-width: 240px;
    max-height: 340px;
    max-width: 510px;
    border-radius: 15px;
    box-shadow: 5px 5px rgba(0,0,0,0.10);    
    overflow: hidden;
}

.cta-image img {
    object-fit: cover;
    width: 100%;
}

.cta-image-overlay {
    flex-direction: column;
    align-items: center;    
    justify-content: center;
}

.cta-image-text {
    display: inline-block;
    font-size: 1.5em;
}

.cta-image-icon {
    font-size: 1.4em;
    margin-right: 5px;
}

.cta-image:hover .hidden {
    display: flex;
}

.cta-image-btn {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: calc(100% - 10px);
    padding: 6px;
}

.cta-image-btn .cta-image-icon, .cta-image-btn .cta-image-text {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.cta-image-btn .cta-image-icon {
    align-self: center;
}

.cta-btn-icon {
    margin-right: 5px;
    font-size: 1em;
}

.cta-btn-text {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 1em;
}
/*........../.body - cta*/