/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*..........CTA Block*/
.cta-row {
    margin: 15px 0;
}

#cta-row-top {
    margin-bottom: 0;
}

#cta-row-bottom {
    margin-top: 0;
}

.cta-container {
    margin: 15px 0;
    padding: 0 5px;
}

.cta-text-wrapper {
    width: 100%;
    min-width: 265px;
    max-width: 1500px;
}

.cta-text-wrapper h4 {
    font-size: 1.2em;
}

.cta-text-wrapper p, .cta-text-wrapper a i {
    font-size: 0.85em;
}

.cta-btn {
    width: 250px;
}

.cta-image-width {
    width: 510px;
}

.cta-image {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 66%; /*Padding-bottom % to maintain height to width ratio provided by Bim Williams (@Mr_Bim_alumni) via Slack*/ 
    min-height: 160px;
    min-width: 240px;
    max-height: 340px;
    max-width: 510px;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px rgba(0,0,0,0.10);
            box-shadow: 5px 5px rgba(0,0,0,0.10);    
    overflow: hidden;
}

.cta-image img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
}

.cta-image-overlay {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
    -webkit-box-pack: center;    
        -ms-flex-pack: center;    
            justify-content: center;
}

.cta-image-text {
    display: inline-block;
    font-size: 1.5em;
}

.cta-image-icon {
    font-size: 1.4em;
    margin-right: 5px;
}

.cta-image:hover .hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.cta-image-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: calc(100% - 10px);
    padding: 6px;
}

.cta-image-btn .cta-image-icon, .cta-image-btn .cta-image-text {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.cta-image-btn .cta-image-icon {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.cta-btn-icon {
    margin-right: 5px;
    font-size: 1em;
}

.cta-btn-text {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 1em;
}
/*........../.cta block*/