/*..........Header Override*/
.header-nav {
    position: absolute;
}

.header-divider {
    position: absolute;
    top: 65px;
}
/*........../.header override*/

/*..........Hero Image*/
.hero-image {    
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("../images/brooke-cagle-8jp-6SjVibM-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 280px;
}

.welcome-container {
    padding: 0 5px;
    position: relative;
    top: 66px;
    height: calc(100vh - 66px);
}

.welcome-text {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.welcome-logo-container {
    margin: 5px 0;
}

.welcome-logo {
    margin: 5px 0;
    height: 35px;
}

.charity-info p {
    font-size: 0.85em;
}
/*........../.hero image*/