/*..........Header Override*/
.header-nav {
    position: absolute;
}

.header-divider {
    position: absolute;
    top: 65px;
}
/*........../.header override*/

/*..........Hero Image*/
.hero-image {    
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("../images/brooke-cagle-8jp-6SjVibM-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 280px;
}

.welcome-container {
     padding: 0 5px;
}

.welcome-quote-container {
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    padding: 0 0 20px 5px;
}

.welcome-text {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.welcome-logo-container {
    margin: 5px 0;
}

.welcome-logo {
    margin: 5px 0;
    height: 35px;
}

.welcome-quote {
    margin: 0;
    padding: 0;
    font-size: 1em;
}
/*........../.hero image*/