/*..........Hero Image*/
.hero-image {    
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("../images/brooke-cagle-8jp-6SjVibM-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 280px;
}

.welcome-container {
     padding: 0 5px;
}

.welcome-quote-container {
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    padding: 0 0 20px 5px;
}

.welcome-text {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.welcome-logo-container {
    margin: 5px 0;
}

.welcome-logo {
    margin: 5px 0;
    height: 35px;
}

.welcome-quote {
    margin: 0;
    padding: 0;
    font-size: 1em;
}
/*........../.hero image*/

/*..........Body - CTA*/
.cta-row {
    margin: 30px 0;
}

.cta-container {
    margin: 15px 0;
    padding: 0 5px;
}

.cta-text-wrapper {
    width: 100%;
    min-width: 265px;
    max-width: 1500px;
}

.cta-btn {
    width: 250px;
}

.cta-image-width {
    width: 510px;
}

.cta-image {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 66%;
    min-height: 160px;
    min-width: 240px;
    max-height: 340px;
    max-width: 510px;
    border-radius: 5%;
    box-shadow: 5px 5px rgba(0,0,0,0.10);    
    overflow: hidden;
}

.cta-image img {
    object-fit: cover;
    width: 100%;
}

.cta-image-overlay {    
    align-items: center;
    justify-content: center;
}

.cta-image-text {
    display: inline-block;
    font-size: 1.5em;
}

.cta-image-icon {
    font-size: 1.4em;
    margin-right: 5px;
}

.cta-image:hover .hidden {
    display: flex;
}

.cta-btn-icon {
    margin-right: 5px;
    font-size: 1em;
}

.cta-btn-text {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 1em;
}
/*........../.body - cta*/