/*..........Header Override*/
.header-nav, .header-divider {
    position: relative;
    top: 0;
}

.header-divider hr {
    filter: brightness(150%);
}
/*........../.header override*/


/*..........Page Title*/
.title-container {
    margin-top: 30px;
    width: 100%;
    padding: 0 5px;
}

.title-text {
    padding-bottom: 2px;
    border-bottom: solid 1px;
}

.underline {
    padding-bottom: 2px;
    border-bottom: solid 1px #fafafa;
}
/*........../.page title*/