/*.........Media Queries*/

/* iPhone 5/SE Portrait - 320px x 568px */
@media (min-width: 320px) {
    .header-nav {
        padding: 5px 10px;
    }

    .header-divider {
        padding: 0 10px;
    }

    .title-container {
        padding: 0 10px;
    }

    .carousel-container {
        padding: 0 10px;
    }

    .footer-container {
        padding: 0 10px;
    }
}

/* Pixel 2 Portrait - 411px x 736px */
@media (min-width: 411px) {
    .menu-col ul li {
        font-size: 1em;
    }
}

/* Menu.html - carousel-nav height adjustment */
@media (min-width: 451px) {
    .carousel-item-spacer {
        height: 145px
    }
}

/* iPhone 5/SE Landscape - 568px x 320px */
@media (min-width: 568px) {
    .cta-image-width {
        width: 450px;
    }

    .cta-image {
        max-height: 300px;
        max-width: 450px;
    }
}

/* Galaxy S5, Moto G4 Landscape - 640px x 360px */
@media (min-width: 640px) {
    .cta-image-width {
        width: 510px
    }

    .cta-image {
        max-height: 340px;
        max-width: 510px;
    }
}

/* Galaxy Fold Landscape - 653px x 280px */
@media (min-width: 653px) {
    .cta-image-width {
        width: 390px
    }

    .cta-image {
        max-height: 260px;
        max-width: 390px;
    }
}

/* iPhone 6/7/8 Landscape - 667px x 375px*/
@media (min-width: 667px) {
    .cta-image-width {
        width: 531px;
    }

    .cta-image {
        max-height: 354px;
        max-width: 531px;
    }
}

/* Surface Duo Landscape - 720px x 540px*/
@media (min-width: 720px) and (min-height: 412px) {
    .cta-image-width {
        width: 690px;
    }

    .cta-image {
        max-height: 460px;
        max-width: 690px;
    }
}

/* iPhone 6/7/8 Plus, Pixel 2 Landscape - 731px/736px x 411px/414px */
@media (min-width: 731px) {
    .cta-image-width {
        width: 591px;
    }

    .cta-image {
        max-height: 394px;
        max-width: 591px;
    }
}

/* Galaxy S9/S9+, S10e Landscape - 740px/760px x 360px*/
@media (min-width: 740px) {
    .cta-image-width {
        width: 510px;
    }

    .cta-image {
        max-height: 340px;
        max-width: 510px;
    }
}

/* Bootstrap L (Max) Breakpoint - 768px */
@media (max-width: 767px) {
    .header-nav-list {
        padding: 5px;
    }

    .header-nav-list li {
        padding: 5px;
    }

    .header-nav-link-icon {
        text-align: center;
        width: 1.25em;
    }

    .cta-image .hidden {
        display: flex;
    }

    .locations-container:not(#last-location) {
        margin-bottom: 0px;
    }
}

/* Bootstrap M (Min) Breakpoint - 768px */
@media (min-width: 768px) {
    .navbar-collapse {
        height: 40px;
    }

    .header-nav-tint {
        background-color: transparent;
        box-shadow: none;
        border-radius: none;
    }

    .welcome-logo {
        height: 75px;
    }

    .cta-image-width {
        width: 1500px;
    }

    .cta-image {
        max-height: 1000px;
        max-width: 1500px;
    }
    
    .cta-text-wrapper h4 {
        font-size: 1.2em;
    }

    .cta-text-wrapper p {
        font-size: 0.85em;
    }

    .footer-divider {
        bottom: 60px;
    }

    #frappe-col, #bottled-col {
        margin-bottom: 14px;
    }

    .locations-text {
        padding-top: 0px;
    }
}

/* iPhone X/XS Landscape - 812px x 375px*/
@media (min-width: 812px) and (max-height: 375px) {
    .cta-image-width {
        width: 531px;
    }

    .cta-image {
        max-height: 354px;
        max-width: 531px;
    }

    .welcome-quote-container {
        display: none !important;
    }    
}

/* Pixel 2 XL Landscape - 823px x 411px*/
@media (min-width: 823px) and (max-height: 411px) {
    .cta-image-width {
        width: 591px;
    }

    .cta-image {
        max-height: 394px;
        max-width: 591px;
    }

    .header-nav-tint {
        background-color: transparent;
        box-shadow: none;
        border-radius: none;
    }
}

/* Bootstrap L (Min) Breakpoint - 992px */
@media (min-width: 992px) {
    .hero-image {
        min-height: 640px;
    }

    .cta-image-width, .cta-text-wrapper {
        width: 900px;
    }

    .cta-image {
        max-height: 600px;
        max-width: 900px;
    }

    .cta-text-wrapper h4 {
        font-size: 1.5em;
    }
    
    .cta-text-wrapper p {
        font-size: 1em;
    }

    .header-nav-link-icon {
        margin-right: 5px;
        font-size: 1.25em;
    }

    .header-nav-link-text {
        font-size: 1.4em;
    }

}

/* iPad Pro Portrait - 1024px x 1366px */
@media (min-width: 1024px) {
    .welcome-quote {
        font-size: 1.10em;
    }
}

/* Bootstrap XL (Min) Breakpoint - 1200px */
@media (min-width: 1200px) {
    .welcome-text {
        font-size: 4em;
    }

    .welcome-quote {
        font-size: 1.5em;        
    }

    .welcome-quote-container {
        padding-bottom: 30px;
    } 

    #savoury-col, #toast-col {
        margin-bottom: 14px;
    }
}

/* 1080p Breakpoint - 1920px x 1080px */
@media (min-width: 1920px) {
    .cta-row>.col-12:not(.locations-col) {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .cta-image-col-left {
        order: 1;
    }

    .cta-image-col-right {
        order: 0;
    }

    .cta-text-col-left {
        order: 1;
        text-align: left !important;
        min-height: 187px;
    }

    .cta-text-col-right {
        order: 0;
        text-align: right !important;
        min-height: 187px;
    }

    .cta-flex-left {
        justify-content: flex-start !important;
        min-height: 187px;
    }

    .cta-flex-right {
        justify-content: flex-end !important;
        min-height: 187px;
    }    

    .cta-btn-left {
        align-self: flex-start !important;
    }

    .cta-btn-right {
        align-self: flex-end !important;
    }

    .cta-text-wrapper:not(.locations-text) {
        min-height: 187px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .cta-image-text {
        font-size: 1.75em;
    }

    .cta-image-icon {
        font-size: 1.65em;
    }
}
/*........./.media queries*/