/*..........Page Title Override*/
.title-container {
    position: absolute;
    margin-top: 0;
    top: 96px;   
}
/*........../.page title override*/


/*..........Carousel*/
.carousel-container {
    margin-top: 30px;
    padding: 0 5px;
    max-width: 2140px;
}

.carousel-nav {
    position: absolute;
    top: 59px;
    width: 100%;
}

.carousel-indicators {
    position: relative;
    margin-bottom: 15px
}

.carousel-indicators li {
    text-indent: initial;
    width: initial;
    height: initial;
    background-clip: initial;
    background-color: initial;
    border: initial;
    margin: 15px 15px;
}

.carousel-indicators h2 {
    font-size: 2em;
    margin-bottom: 0;
}

.carousel-indicators i {
    margin-right: 5px;
    font-size: 1.85em;
}

.carousel-item-content-col {
    padding: 0;
}

.carousel-item-spacer {
    height: 176px;
}

#carousel-sidebar-left {
    margin: 0 15px 30px 0;
    padding: 0;
}

#carousel-sidebar-right {
    margin: 0 5px 30px 15px;
    padding: 0;
}

.carousel-image-wrapper {
    height: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px rgba(0,0,0,0.10);
    overflow: hidden;
}

.carousel-image-wrapper img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}
/*........../.carousel*/


/*..........Menu*/
.menu-col p {
    font-size: 0.85em;
    margin-bottom: 5px;
}

.menu-col ul {
    list-style: none;
}

.menu-col ul li {
    font-size: 0.85em;
    margin-bottom: 5px;
}

.carousel-item-container .col-12:not(.menu-sub-col) {
    margin-bottom: 30px;
}

.menu-sub-container-col {
    margin: 0;
    padding: 0;
}

.multi-col {
    padding: 0;
}

.multi-col .row {
    margin: 0;
    padding: 0;
}

.menu-image-col, .availability-col {
    padding: 0 5px 0 0;
}

.menu-divider {
    width: 100%;
    margin-bottom: 15px;    
    z-index: 100;
}

.menu-divider hr {
    margin: 0;
    padding: 0;
    border-top: solid 1px #4F483A;
    filter: brightness(150%);
}

.menu-availability {
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(39,36,29,0.7);
    box-shadow: 5px 5px rgba(0,0,0,0.1);
}
/*........../.menu*/