/*..........Header Override*/
.header-nav, .header-divider {
    position: relative;
    top: 0;
}

.header-divider hr {
    filter: brightness(150%);
}
/*........../.header override*/

/*..........Page Title*/
.title-container {
    position: absolute;
    top: 0;
    margin-top: 75px;
    width: 100%;
    padding: 5px 5px;
}

.title-text {
    padding-bottom: 2px;
    border-bottom: solid 1px;
}
/*........../.page title*/


/*..........Menu*/
.carousel-container {
    margin-top: 15px;
    padding: 5px 5px;
}

.carousel-inner {
    top: 5px;
}

.carousel-spacer {
    position: relative;
    bottom: 0;
    height: 61px;
}

.carousel-control {
    position: absolute;
    top: 64px;
    width: 100%;
}

.carousel-indicators {
    position: relative;
    margin-bottom: 15px
}

.carousel-indicators li {
    text-indent: initial;
    width: initial;
    height: initial;
    background-clip: initial;
    background-color: initial;
    margin: 0 15px;
}

.carousel-indicators-text {
    font-size: 2em;
    margin-bottom: 0;
}

.carousel-indicators-icon {
    margin-right: 5px;
    font-size: 1.85em;
}

.underline {
    padding-bottom: 2px;
    border-bottom: solid 1px #fafafa;
}

.menu-content-header-spacer-col {
    height: 131px
}

.menu-container p {
    font-size: 0.85em;
    margin-bottom: 5px;
}

.menu-container ul {
    list-style: none;
}

.menu-container ul li {
    font-size: 0.85em;
    margin-bottom: 5px;
}

.menu-content-row img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.main-col {
    padding: 0;
}

.image-col {
    padding: 0 15px 35px 0;
}
.image-col .image-wrapper {
    height: 100%;
}

.image-wrapper {
    border-radius: 15px;
    box-shadow: 5px 5px rgba(0,0,0,0.10);
    overflow: hidden;
}

.menu-container .col-12:not(.menu-sub-col) {
    margin-bottom: 30px;
}

#savoury-col, #pastries-col, #snacks-col, #cakes-col {
    padding: 0;
}
#savoury-col .row, #pastries-col .row, #snacks-col .row, #cakes-col .row {
    margin: 0;
    padding: 0;
}

.menu-image-col {
    padding: 0 5px 0 0;
}

/*........../.menu*/