/*..........Header Override*/
.header-nav, .header-divider {
    position: relative;
    top: 0;
}

.header-divider hr {
    filter: brightness(150%);
}
/*........../.header override*/


/*..........Page Title*/
.title-container {
    position: absolute;
    top: 81px;
    width: 100%;
    padding: 0 5px;
}

.title-text {
    padding-bottom: 2px;
    border-bottom: solid 1px;
}

.underline {
    padding-bottom: 2px;
    border-bottom: solid 1px #fafafa;
}
/*........../.page title*/


/*..........Carousel*/
.carousel-container {
    margin-top: 15px;
    padding: 0 5px;
}

.carousel-nav {
    position: absolute;
    top: 59px;
    width: 100%;
}

.carousel-indicators {
    position: relative;
    margin-bottom: 15px
}

.carousel-indicators li {
    text-indent: initial;
    width: initial;
    height: initial;
    background-clip: initial;
    background-color: initial;
    border: initial;
    margin: 15px 15px;
}

.carousel-indicators h2 {
    font-size: 2em;
    margin-bottom: 0;
}

.carousel-indicators i {
    margin-right: 5px;
    font-size: 1.85em;
}

.carousel-item-content-col {
    padding: 0;
}

.carousel-item-spacer-col {
    height: 176px;
}

#carousel-sidebar-left {
    margin-bottom: 30px;
    padding: 0 15px 5px 0;
}

#carousel-sidebar-right {
    margin-right: 5px;
    padding: 0 0 35px 10px;
}

.carousel-image-wrapper {
    height: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px rgba(0,0,0,0.10);
    overflow: hidden;
}

.carousel-image-wrapper img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}
/*........../.carousel*/


/*..........Menu*/
.menu-col p {
    font-size: 0.85em;
    margin-bottom: 5px;
}

.menu-col ul {
    list-style: none;
}

.menu-col ul li {
    font-size: 0.85em;
    margin-bottom: 5px;
}

.carousel-item-container .col-12:not(.carousel-item-spacer-col, .menu-sub-col) {
    margin-bottom: 30px;
}

.menu-sub-container-col {
    margin: 0;
    padding: 0;
}

.multi-col {
    padding: 0;
}
.multi-col .row {
    margin: 0;
    padding: 0;
}

.menu-image-col-left {
    padding: 0 5px 0 0;
}

.menu-image-col-right {
    padding: 0 0 0 5px;
}

.menu-divider {
    width: 100%;
    margin-bottom: 15px;
    
    z-index: 100;
}

.menu-divider hr {
    margin: 0;
    padding: 0;
    border-top: solid 1px #4F483A;
    filter: brightness(150%);
}

.col-12, #carousel-sidebar-left, #carousel-sidebar-right {
    border: solid 1px hotpink;
}

.carousel-container, .carousel-nav {
    border: solid 1px lightblue;
}

/*.title-container {
    border: solid 1px lightgreen;
}*/
/*........../.menu*/