/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*..........Contact Us Modal*/
.modal, .fade {
    min-width: 280px;
}

.modal-dialog {
    min-width: 264px;
}

.modal-content {
    background-color: rgba(79,72,58,.95);
    -webkit-box-shadow: 5px 5px rgba(0,0,0,0.1);
            box-shadow: 5px 5px rgba(0,0,0,0.1);
    border-radius: 15px;
}

.modal-header {
    border-bottom: none;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.modal-header button.close {
    color: #fafafa;
}

.modal-footer {
    border-top: none;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.modal-header, .modal-body, .modal-footer {
    padding: 0;
}

.modal-header {
    margin: 10px 10px 0;
}

.modal-title {
    font-size: 1.2em;
}

.modal-body {
    margin: 0 15px;
}

.modal-footer {
    margin: 0 10px 10px;
}

.modal-footer button {
    width: 79px;
    margin: 0 5px;
    font-size: 0.85em;
}

.modal-footer input {
    width: 79px;
    margin: 0 0 0 5px;
    font-size: 0.85em;
}

.contact-form input {
    margin-bottom: 15px;
}

.modal-divider {
    width: 100%;
    padding: 0 10px;
}

.modal-header-divider {
    margin: 10px 0 15px;
}

.modal-footer-divider {
   margin: 15px 0 10px
}

.modal-divider hr {
    border-top-style: solid;
    border-top-width: 1px;
}

.modal-header-divider hr {
    border-top-color: #4F483A;
    -webkit-filter: brightness(150%);
            filter: brightness(150%);
}

.modal-footer-divider hr {
    border-top-color: rgba(0,0,0,0.2);
}
/*........../.contact us modal*/

/*..........Locations Modal*/
.locations-modal-text a {
    display: block;
}

.locations-modal-text .tel-url {
    margin-bottom: 15px;
}

.locations-modal-text span, .locations-modal-text a i {
    font-size: .85em;
}
/*........../.locations modal*/