/*..........Set page defaults*/
*, body {
    margin: 0;
    padding: 0;
    background-color: #4F483A;
    color: #fafafa;
    font-family: 'Roboto Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    background-color: transparent;
}

a, .header-nav-link-text {
    color: #fafafa;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

a:hover, .header-nav-link-text:hover {
    color: #fafafa;
    text-decoration: underline;
}

div, nav, ul, li, img, i, a, .row, .header-nav-link, .header-nav-link-text {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
}

div, nav, ul, li, img, i, a, p {
    background-color: transparent;
}

.active-page {
    text-decoration: underline;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.tint {
    background-color: rgba(0,0,0,0.5);
}

.hidden {
    display: none;
}
/*........../.set page defaults*/


/*..........Hero Image*/
.hero-image {    
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("../images/brooke-cagle-8jp-6SjVibM-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 280px;
}

.welcome-container {
     padding: 0 5px;
}

.welcome-quote-container {
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    padding: 0 0 20px 5px;
}

.welcome-text {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.welcome-logo-container {
    margin: 5px 0;
}

.welcome-logo {
    margin: 5px 0;
    height: 35px;
}

.welcome-quote {
    margin: 0;
    padding: 0;
    font-size: 1em;
}
/*........../.hero image*/


/*..........Header*/
.header-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 65px;
    width: 100%;
    padding: 5px 5px;
    z-index: 2;
    align-items: flex-start;
}

.header-divider {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    padding: 0 5px;
    color: #4F483A;
    z-index: 1;
}

.header-divider hr {
    margin: 0;
    padding: 0;
}

.logo {
    height: 40px;
}

.navbar-expand-md {
    padding: 5px 0;
}

.header-nav-list {
    list-style: none;
}

.header-nav-tint {
    background-color: rgba(0,0,0,0.8);
}

.header-nav-link-text {
    display: inline-block;
}

.header-nav-link-icon {
    margin-right: 5px;
    font-size: 1.1em;
}

.header-nav-link-text {
    font-size: 1.25em;
}
/*........../.header*/


/*..........Body - CTA*/
.cta-row {
    margin: 30px 0;
}

.cta-container {
    margin: 15px 0;
    padding: 0 5px;
}

.cta-text-wrapper {
    width: 100%;
    min-width: 265px;
    max-width: 1500px;
}

.cta-btn {
    width: 250px;
}

.cta-image-width {
    width: 510px;
}

.cta-image {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 66%;
    min-height: 160px;
    min-width: 240px;
    max-height: 340px;
    max-width: 510px;
    border-radius: 5%;
    box-shadow: 5px 5px rgba(0,0,0,0.25);    
    overflow: hidden;
}

.cta-image img {
    object-fit: cover;
    width: 100%;
}

.cta-image-overlay {    
    align-items: center;
    justify-content: center;
}

.cta-image-text {
    display: inline-block;
    font-size: 1.5em;
}

.cta-image-icon {
    font-size: 1.4em;
    margin-right: 5px;
}

.cta-image:hover .hidden {
    display: flex;
}

.cta-btn-icon {
    margin-right: 5px;
    font-size: 1em;
}

.cta-btn-text {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 1em;
}
/*........../.body - cta*/


/*..........Footer*/
.footer-container {
    position: relative;
    padding: 10px 5px;
}

.footer-divider {
    margin-bottom: 10px;
    width: 100%;
    color: rgba(0,0,0,0.5);
    z-index: 1;
}

.footer-row {
    width: 100%;
}

.footer-divider hr {
    margin: 0;
    padding: 0;
}

.social-media-row .col-auto h5 {
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.footer-logo {
    text-align: right;
}
/*........../.footer*/


/*.........Media Queries*/

/* iPhone 5/SE Portrait - 320px x 568px */
@media (min-width: 320px) {
    .header-nav {
        padding: 5px 10px;
    }

    .header-divider {
        padding: 0 10px;
    }

    .footer-container {
        padding: 10px 10px;
    }
}

/* iPhone 5/SE Landscape - 568px x 320px */
@media (min-width: 568px) {
    .cta-image-width {
        width: 450px;
    }

    .cta-image {
        max-height: 300px;
        max-width: 450px;
    }
}

/* Galaxy S5, Moto G4 Landscape - 640px x 360px */
@media (min-width: 640px) {
    .cta-image-width {
        width: 510px
    }

    .cta-image {
        max-height: 340px;
        max-width: 510px;
    }
}

/* Galaxy Fold Landscape - 653px x 280px */
@media (min-width: 653px) {
    .cta-image-width {
        width: 390px
    }

    .cta-image {
        max-height: 260px;
        max-width: 390px;
    }
}

/* iPhone 6/7/8 Landscape - 667px x 375px*/
@media (min-width: 667px) {
    .cta-image-width {
        width: 531px;
    }

    .cta-image {
        max-height: 354px;
        max-width: 531px;
    }
}

/* Surface Duo Landscape - 720px x 540px*/
@media (min-width: 720px) and (min-height: 412px) {
    .cta-image-width {
        width: 690px;
    }

    .cta-image {
        max-height: 460px;
        max-width: 690px;
    }
}

/* iPhone 6/7/8 Plus, Pixel 2 Landscape - 731px/736px x 411px/414px */
@media (min-width: 731px) {
    .cta-image-width {
        width: 591px;
    }

    .cta-image {
        max-height: 394px;
        max-width: 591px;
    }
}

/* Galaxy S9/S9+, S10e Landscape - 740px/760px x 360px*/
@media (min-width: 740px) {
    .cta-image-width {
        width: 510px;
    }

    .cta-image {
        max-height: 340px;
        max-width: 510px;
    }
}

/* Bootstrap L (Max) Breakpoint - 768px */
@media (max-width: 767px) {
    .header-nav-list {
        padding: 5px;
    }

    .header-nav-list li {
        padding: 5px;
    }

    .header-nav-link-icon {
        text-align: center;
        width: 1.25em;
    }

    .cta-image .hidden {
        display: flex;
    }
}

/* Bootstrap M (Min) Breakpoint - 768px */
@media (min-width: 768px) {
    .navbar-collapse {
        height: 40px;
    }

    .header-nav-tint {
        background-color: transparent;
    }

    .welcome-logo {
        height: 75px;
    }

    .cta-image-width {
        width: 1500px;
    }

    .cta-image {
        max-height: 1000px;
        max-width: 1500px;
    }
    
    .cta-text-wrapper h4 {
        font-size: 1.2em;
    }

    .cta-text-wrapper p {
        font-size: 0.85em;
    }

    .footer-divider {
        bottom: 60px;
    }
}

/* iPhone X/XS Landscape - 812px x 375px*/
@media (min-width: 812px) and (max-height: 375px) {
    .cta-image-width {
        width: 531px;
    }

    .cta-image {
        max-height: 354px;
        max-width: 531px;
    }

    .welcome-quote-container {
        display: none !important;
    }    
}

/* Pixel 2 XL Landscape - 823px x 411px*/
@media (min-width: 823px) and (max-height: 411px) {
    .cta-image-width {
        width: 591px;
    }

    .cta-image {
        max-height: 394px;
        max-width: 591px;
    }

    .header-nav-tint {
        background-color: transparent;
    }
}

/* Bootstrap L (Min) Breakpoint - 992px */
@media (min-width: 992px) {
    .hero-image {
        min-height: 640px;
    }

    .cta-text-wrapper h4 {
        font-size: 1.5em;
    }
    
    .cta-text-wrapper p {
        font-size: 1em;
    }

    .header-nav-link-icon {
        margin-right: 5px;
        font-size: 1.25em;
    }

    .header-nav-link-text {
        font-size: 1.4em;
    }
}

/* iPad Pro Portrait - 1024px x 1366px */
@media (min-width: 1024px) {
    .welcome-quote {
        font-size: 1.10em;
    }
}

/* Bootstrap XL (Min) Breakpoint - 1200px */
@media (min-width: 1200px) {
    .welcome-text {
        font-size: 4em;
    }

    .welcome-quote {
        font-size: 1.5em;        
    }

    .welcome-quote-container {
        padding-bottom: 30px;
    }    
}

/* 1080p Breakpoint - 1920px x 1080px */
@media (min-width: 1920px) {
    .cta-row>.col-12 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .cta-image-col-left {
        order: 1;
    }

    .cta-image-col-right {
        order: 0;
    }

    .cta-text-col-left {
        order: 1;
        text-align: left !important;
    }

    .cta-text-col-right {
        order: 0;
        text-align: right !important;
    }

    .cta-flex-left {
        justify-content: flex-start !important;
    }

    .cta-flex-right {
        justify-content: flex-end !important;
    }    

    .cat-btn-left {
        align-self: flex-start !important;
    }

    .cat-btn-right {
        align-self: flex-end !important;
    }

    .cta-text-wrapper h4 {
        font-size: 1.75em;
    }
    
    .cta-text-wrapper p {
        font-size: 1.25em;
    }

    .cta-image-text {
        font-size: 1.75em;
    }

    .cta-image-icon {
        font-size: 1.65em;
    }

    .cta-btn {
        width: 375px;
    }

    .cta-btn-text {
        font-size: 1.25em;
    }

    .cta-btn-icon {
        font-size: 1.15em;
    }    
}
/*........./.media queries*/


/*
Off white:
#fafafa;

blue:
#6194c9;

stronger blue:
#3F7AB8;

Colour Palette:
#82765F;
#4F483A;
#CFBC97;
#DBC8A0;
#B5A584;

Heading Fonts:
font-family: 'Roboto Slab', serif;

Content Fonts:
font-family: 'Roboto Mono', monospace;
*/