/*..........Set page defaults*/
*, body {
    margin: 0;
    padding: 0;
    background-color: #4F483A;
    color: #fafafa;
    font-family: 'Roboto Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    background-color: rgba(0,0,0,0); 
}

a, .header-nav-link-text {
    color: #fafafa;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

a:hover, .header-nav-link-text:hover {
    color: #fafafa;
    text-decoration: underline;
}

div, nav, ul, li, img, i, a, .row, .header-nav-link, .header-nav-link-text {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
}

div, nav, ul, li, img, i, a, p {
    background-color: rgba(0,0,0,0); 
}

.active-page {
    text-decoration: underline;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.tint {
    background-color: rgba(0,0,0,0.5);
}

.hidden {
    display: none;
}

.align-text-left {
    text-align: left;
}

.align-text-right {
    text-align: right;
}
/*........../.set page defaults*/


/*..........Hero Image*/
.hero-image {    
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("../images/brooke-cagle-8jp-6SjVibM-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 360px;
}

.welcome-container {
     padding: 0 5px;
}

.welcome-quote-container {
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    padding: 0 0 20px 5px;
}

.welcome-text {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.welcome-logo-container {
    margin: 5px 0;
}

.welcome-logo {
    margin: 5px 0;
    height: 35px;
}

.welcome-quote {
    margin: 0;
    padding: 0;
    font-size: 1em;
}
/*........../.hero image*/


/*..........Header*/
.header-row {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 5px 10px;
    width: 100%;
    border-bottom: solid 1px #4F483A;
}

.logo {
    height: 33px;
}

.header-nav-container {
    text-align: right;
}
/*........../.header*/


/*..........Body - CTA*/
.top-cta {
    margin-top: 30px;
}

.bottom-cta {
    margin-bottom: 30px;
}

.cta-container {
    margin: 15px 0;
    padding: 0 5px;
}

.cta-text-wrapper {
    min-width: 378px;
    max-width: 1500px;
}

.btn-cta {
    width: 250px;
}

.cta-image-width {
    width: 480px;
}

.cta-image {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 66%;
    min-height: 228px;
    min-width: 342px;
    max-height: 340px;
    max-width: 510px;
    border-radius: 5%;
    box-shadow: 5px 5px rgba(0,0,0,0.25);    
    overflow: hidden;
}

.cta-image img {
    object-fit: cover;
    width: 100%;
}

.cta-image-text {
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
}

.cta-image:hover .hidden {
    display: flex;
}

.menu-image {    
    background: url("../images/zan-baldwin-C64YvmXO_QA-unsplash.jpg") no-repeat center center/cover;
}

.locations-image {    
    background: url("../images/samuel-oakes-Fr_XUMvQ9AU-unsplash.jpg") no-repeat center center/cover;
}

.about-image {    
    background: url("../images/matthew-gerrard-JQpe01ira0s-unsplash-resized.jpg") no-repeat center center/cover;
}

.contact-image {    
    background: url("../images/mikey-harris-zasPTUnrWnI-unsplash.jpg") no-repeat center center/cover;
}
/*........../.body - cta*/


/*..........Footer*/
.footer-row {
    padding: 10px 5px;
    width: 100%;
    border-top: solid 1px rgba(0,0,0,0.5);
}

.social-media-row .col-auto h5 {
    margin: 0;
    padding: 0;
    font-weight: 500;
}
/*........../.footer*/


/*.........Media Queries*/

/* iPhone 6/7/8 - 667px x 375px*/
@media (min-width: 667px) {
    .cta-image-width {
        width: 531px;
    }

    .cta-image {
        max-height: 354px;
        max-width: 531px;
    }
}

/* iPhone 6/7/8 Plus Landscape - 736px x 414px*/
@media (min-width: 736px) {
    .cta-image-width {
        width: 591px;
    }

    .cta-image {
        max-height: 394px;
        max-width: 591px;
    }
}

/* Galaxy S9, S9+, s10e Landscape - 740px/760px x 360px*/
@media (min-width: 740px) {
    .cta-image-width {
        width: 510px;
    }

    .cta-image {
        max-height: 340px;
        max-width: 510px;
    }
}

/* 1024/1366 x 768 Displays (eg iPad landscape, older laptops)*/
@media (min-width: 768px) {
    .cta-image-width {
        width: 1500px;
    }

    .cta-image {
        max-height: 1000px;
        max-width: 1500px;
    }
}

/* iPhone X/XS Landscape - 812px x 375px*/
@media (min-width: 812px) and (max-height: 376px) {
    .cta-image-width {
        width: 531px;
    }

    .cta-image {
        max-height: 354px;
        max-width: 531px;
    }

    .welcome-quote-container {
        display: none !important;
    }
}

/* Bootstrap L (Max) Breakpoint */
@media (max-width: 992px) {
    .cta-image .hidden {
        display: flex;
    }

    .tint {
    background-color: rgba(0,0,0,0.25);
    }

    .cta-image-text {
        font-size: 1.5em;
    }
}

/* Bootstrap L (Min) Breakpoint */
@media (min-width: 992px) {
    .hero-image {
        min-height: 640px;
    }
}

/* 720p Displays */
@media (min-width: 1280px) {
    .welcome-text {
        font-size: 4em;
    }

    .welcome-quote {
        font-size: 1.5em;        
    }

    .welcome-quote-container {
        padding-bottom: 30px;
    }
}

@media (min-width: 761px) {
    .welcome-logo {
        height: 75px;
    }
}
/*........./.media queries*/


/*
Off white:
#fafafa;

blue:
#6194c9;

stronger blue:
#3F7AB8;

Colour Palette:
#82765F;
#4F483A;
#CFBC97;
#DBC8A0;
#B5A584;

Heading Fonts:
font-family: 'Roboto Slab', serif;

Content Fonts:
font-family: 'Roboto Mono', monospace;
*/