/*..........Set page defaults*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #4F483A;
    color: #fafafa;
    font-family: 'Roboto Mono', monospace;
}

section {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    background-color: transparent;
}

a, .header-nav-link-text {
    color: #fafafa;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

a:hover, .header-nav-link-text:hover {
    color: #fafafa;
    text-decoration: underline;
}

div, nav, ul, li, img, i, a, .row, .header-nav-link, .header-nav-link-text {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
}

div, nav, ul, li, img, i, a, p {
    background-color: transparent;
}

.active-page {
    text-decoration: underline;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.tint {
    background-color: rgba(0,0,0,0.5);
}

.hidden {
    display: none;
}

.btn-info {
    color: #fafafa;
}

.navbar-toggler, .btn {
    border-radius: 15px;
}

/*........../.set page defaults*/

/*..........Header*/
.header-nav {
    position: relative;
    top: 0;
    left: 0;
    height: 65px;
    width: 100%;
    padding: 5px 5px;
    z-index: 101;
    align-items: flex-start;
}

.header-divider {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 5px;
    z-index: 100;
}

.header-divider hr {
    margin: 0;
    padding: 0;
    border-top: solid 1px #4F483A;
    filter: brightness(150%);
}

.logo {
    height: 40px;
}

.navbar-expand-md {
    padding: 5px 0;
}

.header-nav-list {
    list-style: none;
}

.header-nav-tint {
    background-color: rgba(39,36,29,.95);
    box-shadow: 5px 5px rgba(0,0,0,0.1);
    border-radius: 15px;
}

.header-nav-link-text {
    display: inline-block;
}

.header-nav-link-icon {
    margin-right: 5px;
    font-size: 1.1em;
}

.header-nav-link-text {
    font-size: 1.25em;
}

.title-container {
    margin-top: 30px;
    width: 100%;
    padding: 0 5px;
}

.title-text {
    padding-bottom: 2px;
    border-bottom: solid 1px;
}

.underline {
    padding-bottom: 2px;
    border-bottom: solid 1px #fafafa;
}
/*........../.header*/


/*..........Footer*/
.footer-container {
    margin-bottom: 10px;
    padding: 0 5px;
}

.footer-divider {
    margin-bottom: 10px;
    width: 100%;
    z-index: 1;
}

.footer-row {
    width: 100%;
}

.footer-divider hr {
    margin: 0;
    padding: 0;
    border-top: solid 1px rgba(0,0,0,0.2);
}

.social-media-row .col-auto h5 {
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.footer-logo {
    text-align: right;
}
/*........../.footer*/


/*
Off white:
#fafafa;

blue:
#6194c9;

stronger blue:
#3F7AB8;

Colour Palette:
#82765F; Light Brown
#4F483A; Background Colour
#CFBC97; Light Cream
#DBC8A0; Lighter Cream?
#B5A584; Med Cream

Heading Fonts:
font-family: 'Roboto Slab', serif;

Content Fonts:
font-family: 'Roboto Mono', monospace;
*/